@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap');

:root {
    --background: #0d1117;
    --terminal: #000;
    --font: #ffffff;
    --text-red: #ff0000;
    --text-blue: #0000ff;
    --text-orange: #ff8800;
    --gray: rgba(51, 51, 51, 0.651);
    --border: rgba(255, 255, 255, 0.15);
    --hover: rgba(255, 255, 255, 0.08);
    --badge-bg: rgba(255, 255, 255, 0.15);
    --border-code: rgba(27, 27, 27, 0.15);
    --link_color: #79c0ff;
}

.light {
    --background: #f5f7fa;
    --terminal: #ffffff;
    --font: #5f5f5f;

    --text-red: #cf222e;
    --text-blue: #0969da;
    --text-orange: #bc4c00;

    --gray: rgba(0, 0, 0, 0.04);

    --border: rgba(0, 0, 0, 0.12);
    --hover: rgba(0, 0, 0, 0.06);
    --badge-bg: rgba(0, 0, 0, 0.06);

    --border-code: rgba(0, 0, 0, 0.08);

    --link_color: #0969da;
}


.cascadia-mono {
    font-family: "Cascadia Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}


.jetbrains-mono {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    color: var(--font);
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    border-bottom: 1px solid var(--border);
}

.left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.menu-btn {
    background: none;
    border: 1px solid var(--border);
    padding: 6px;
    border-radius: 6px;
    color: var(--font);
    cursor: pointer;
}

.menu-btn:hover {
    background: var(--hover);
}

.logo {
    width: 28px;
}

.username {
    font-weight: bold;
}


.search input {
    background: var(--gray);
    border: 1px solid var(--border);
    padding: 6px 12px;
    border-radius: 6px;
    color: var(--font);
}


.nav {
    display: flex;
    gap: 25px;
    padding: 12px 20px;
    border-bottom: 1px solid var(--border);
    margin-bottom: 50px;
}

.nav a {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    color: var(--font);
    padding-bottom: 8px;
    cursor: pointer;
}

.nav a svg {
    width: 16px;
    height: 16px;
}

.nav a:hover {

    filter: opacity(0.5);
    transition: 0.2s;
}

.active {
    border-bottom: 2px solid var(--font);
}

#checkbox {

    position: absolute
}



.badge {
    background: var(--badge-bg);
    padding: 2px 7px;
    border-radius: 20px;
    font-size: 12px;
}

#main {
    margin: auto;
    width: 95%;
    height: 80vh;
    border: var(--gray), solid, 1px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 70%;
}

#textcontainer {
    padding: 60px;
}

#code {
    width: 100%;
    margin: auto;
    height: 35vh;
    padding-left: 60px;
    background-color: var(--background);
    border: var(--border-code), solid;
    box-shadow: 2px 2px 2px 2px #363636;
    font-family: "JetBrains Mono", monospace;
    font-weight: 100;
    font-size: 20px;
}

#infocontainer {
    width: 100%;
    height: 35vh;
    display: flex;
}


#typing::after {
    content: "|";
    animation: blink 1s infinite;
    color: #58a6ff;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.linha {
    white-space: pre;
}

#legenda {
    width: 50%;
    height: 30vh;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

#worklink {
    text-decoration: none;
    color: var(--link_color);
}

#gif {
    display: flex;
    height: 5vh;

    >img {
        height: 5vh;
        width: 5%;
    }
}

#internship {
    display: flex;
    gap: 5px;

    >div {
        width: 60px;
        height: 18px;
        background-color: var(--font);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;

        >img {
            height: 2vh;
            width: 15px;
        }
    }
}

#internshipbtn {
    color: #000;
    font-size: 13px;
    text-decoration: none;

}

#social {
    display: flex;
    width: 100px;
    height: 18px;
    background-color: var(--font);
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-radius: 2px;


    >a {
        text-decoration: none;
        color: #000;
        border-radius: 1px;
        font-size: 13px;

    }

    >img {
        height: 2vh;
        width: 15px;
    }
}

#profile {
    width: 50%;
    height: 30vh;
    background-repeat: no-repeat;
    border-radius: 70vh;
    display: flex;
    align-items: last baseline;
    justify-content: start;
    margin: auto;
    position: relative;
    background-size: cover;

}

#iconcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 50%;
    height: 100%;
    justify-content: center;
    justify-items: center;
}

#btncontainer {
    display: flex;
    gap: 10px;
}




/* ===================== */
/*  MOBILE (até 768px) */
/* ===================== */
@media (max-width: 768px) {

    /* layout geral */
    #main {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    /* HEADER */
    .header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 10px 15px;
    }

    .left {
        width: 100%;
        justify-content: space-between;
    }

    .username {
        font-size: 14px;
    }

    .search {
        width: 100%;
    }

    .search input {
        width: 100%;
        font-size: 14px;
    }

    .menu-btn {
        padding: 5px;
    }

    /* NAV */
    .nav {
        overflow-x: auto;
        gap: 15px;
        padding: 10px;
        font-size: 10px
    }

    /* TEXTO */
    #textcontainer {
        padding: 20px;
    }

    #legenda {
        width: 50%;
        height: auto;
        padding: 10px 0;
    }

    #legenda h1 {
        font-size: 22px;
        line-height: 1.2;
    }

    #legenda p {
        font-size: 14px;
        line-height: 1.4;
    }

    /* SKILLS */
    #internship {
        flex-wrap: wrap;
        gap: 6px;
    }

    #internship div {
        width: auto;
        padding: 2px 6px;
    }

    #internshipbtn {
        font-size: 12px;
    }

    #btncontainer {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .social {
        width: 100%;
        justify-content: center;
    }

    #code {
        font-size: 13px;
        padding: 15px;
        height: auto;
        overflow-x: auto;
    }

    .linha {
        white-space: pre-wrap;
        word-break: break-word;
    }


    #iconcontainer {
        margin-top: 20px;

    }


    #profile {
        width: 150px;
        height: 150px;
        margin-top: 10px;
        margin-bottom: 20px;
    }


    #terminal {
        width: 100%;
        height: 250px;
        font-size: 13px;
    }

    #terminalHead {
        width: 100%;
    }
}



/*  TABLET (769px - 1024px) */

@media (max-width: 1024px) {

    #main {
        grid-template-columns: 60% 40%;
    }

    #textcontainer {
        padding: 30px;
    }

    #legenda h1 {
        font-size: 26px;
    }

    #legenda p {
        font-size: 15px;
    }

    #code {
        font-size: 16px;
    }

    #profile {
        width: 180px;
        height: 180px;
    }

    #terminal {
        height: 300px;
    }
}


/* ===================== */
/* NOTEBOOK (1025px - 1440px) */
/* ===================== */
@media (max-width: 1440px) {

    #main {
        grid-template-columns: 65% 35%;
    }

    #code {
        font-size: 18px;
    }

    #profile {
        width: 220px;
        height: 220px;
    }
}

.keyword {
    color: #ff7b72;
}

/* class, def */
.string {
    color: #a5d6ff;
}

/* strings */
.variable {
    color: #79c0ff;
}

/* variáveis */
.function {
    color: #d2a8ff;
}

/* função */
.comment {
    color: #8b949e;
}

/* comentário */